<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>

        <activity
            android:name="com.exozet.threehundredsixtyplayer.ThreeHundredSixtyPlayerActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

    </application>

</manifest>